.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-size: cover;
  opacity: 1;
}

.temperature {
  background-color: rgba(180, 180, 180, 0.3);
  border-radius: 25px;
  padding: 3rem;
  font-size: 10vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 8px 8px 4px rgba(3,1,28,0.8);
}

.temperatureC {
  color: #448;
}

.temperatureF {
  color: #228;
}
