.main {
  max-width: 900px;
  margin: auto;
}

.coverlessonstable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid black;
    padding: 4px;
  }

  th {
    color: white;
    background-color: black;
  }
}
